body {
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;
  margin: 0;
}

.navbar {
  background-color: #4c4c6d;
  padding: 1px;
  text-align: center;
  color: white;
}

.container {
  width: 60%;
  margin: 10px auto;
}

.send {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.send-area {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 80%;
}

.send-area:focus {
  outline: none;
}

.send-btn {
  padding: 10px 20px;
  border: none;
  background-color: #52006a;
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.name {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 100%;
  margin: 10px auto;
}

.name:focus {
  outline: none;
}

.chats {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.chat-box {
  max-width: 60%;
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.chat-author {
  margin: 0;
  font-weight: bold;
  padding: 4px;
}

.chat-msg {
  margin: 0;
  padding: 4px;
}
